body{
	margin:0;
}

header{
	background:#66CC99;
	color: white;
	padding: 5px 15px 0px 15px;
	text-align: center;
}

header h1{
	color: #006699;
	margin:0;
	display:inline;
	font-family: Arial;
    font-size: 3em;
    line-height: 1em;
    font-weight: bolder;
    text-align: center;
    }

}

nav ul{
	margin:0;
	padding: 0px 0px 0px 0px;
	display:inline;
}
nav ul li{
	background:#006699;
	border-radius: 10px 10px 10px 10px;
	color:white;
	font-size: 20pt;
	display: inline-block;
	list-style-type:none;
	padding: 0px 5px 0px 5px;
}

nav ul li a{
	color:white;
}

p{
	font-size: 18pt;
	font-style: Arial;
	text-indent: 50px;
	margin: 0px 20px 10px 20px;

}

.imageholder{
	position:relative;
	left: 10px
	border: 3px solid #73AD21;
}

#path{
	background: purple;
}
#rang{
	background: orange;
}
#navi{
	background:blue;
}

#adv{
	background:yellow;
}

#mount{
	background:#003300;
}

#mav{
	background:red;
}

#spec{
	background:#CC3399;
}
#sport{
	background:black;
}




